<h1>Repositories</h1>

<%= form_tag repositories_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search repositories by name or description" %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= link_to repository.name, repository %></td>
        <td><%= repository.description %></td>
        <td>
          <% repository.users.each do |user| %>
            <%= user.first_name + '' + user.last_name %><br>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
        <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Repository', new_repository_path %>
